body {
    min-height: 100vh;
    overflow: auto;
}

.main-content {
    min-height: 80vh;
}

.message {
    background-color: rgba(28, 136, 104, 0.24);
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.msg-container {
    max-height: 80vh;
    overflow-y: scroll;

}

.meta {
    background-color: rgba(28, 136, 104, 0.3);
    font-size: smaller;
    border-radius: 10px;
    padding-left: 10px;
}