body {
    min-height: 100vh;
    overflow: auto;
}

.main-content {
    min-height: 80vh;
}

.message {
    background-color: cornflowerblue;
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 10px;
}

.msg-container {
    max-height: 80vh;
    overflow-y: scroll;
    background-color: black;

}