
.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid rgb(179, 182, 10,.2);
    border-radius: 10px;
    padding: auto;
}

.logo {
    flex-grow: 1;
}

.main-menu {
    flex-grow: 4;
    font-size: 60px;
    font-weight:600;
}

.midbar {
    display: flex;
    width: 100%;
    height: 75%;
}

.lsidebar {
    flex-grow: 1 ;
    border-right: 1px solid rgba(178, 211, 212, 0.2);
    background-color: rgba(178, 211, 212, 0.15);
}

.rsidebar {
    flex-grow: 1;
    border-left: 1px solid rgba(178, 211, 212, 0.2);
    background-color: rgba(178, 211, 212, 0.1);
}

.message-box {
    flex-grow: 3;
}

.message {
    height: 80%;
    padding: 10px;
}

.input-form {
    height: 20%;
    background-color: rgb(89, 89, 102);
}

.bottombar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: black;
    color: rgb(97, 93, 89);
    border-radius: 10px;
}