.logo {
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.container {
    width: 70%;
    height: 60vh;
    border-radius: 15px;
    padding: 5px;
    margin: auto;
    overflow-y: scroll;
    background-color: rgb(195, 195, 240);
}

.message {
    width: 60%;
    padding: 1%;
    margin: 1%;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(205, 205, 228);
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
    color: rgb(4, 80, 4);
}
.sendbox {
    text-align: center;
    margin: 10px;
}

.main{
    margin: auto;
    height: 400px;
    width: 30%;
    background-color: bisque;
    
}
.register {
   padding: 10%;
}